<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <!--<script src="../public/javascripts/lib/jquery-1.11.2.js"></script>-->
    <!--<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    var roomList = '<%- roomList %>';
    console.log(JSON.parse(roomList))
    var roomArr = JSON.parse(roomList);

</script>
<% include nav.html %>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <%-roomList%>
                    </h3>
                </div>
                <div class="panel-body">
                    面板内容
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        带有 title 的面板标题
                    </h3>
                </div>
                <div class="panel-body">
                    面板内容
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        带有 title 的面板标题
                    </h3>
                </div>
                <div class="panel-body">
                    面板内容
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        带有 title 的面板标题
                    </h3>
                </div>
                <div class="panel-body">
                    面板内容
                </div>
            </div>
        </div>
    </div>
</div>

<div><%- roomList %></div>
</body>
</html>