<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/chat.css'/>
    <link rel='stylesheet' href='/css/main.css'/>

    <style>
        .choose_block {
            display: block;
            cursor: pointer;
            border: 1px #333 solid;
            border-radius: 4px;
            width: 70px;
            text-align: center;
            line-height: 50px;
            /*background-color: red;*/
        }
    </style>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Whiteboard</a>
        </div>


    </div>
    <!-- /.container-fluid -->
</nav>
<div class="m-body">
    <div style="margin-left:30px;">
        <div class="beginRecord panel-heading" style=" position:absolute; left:150px; padding:0;">
            <span class="label label-primary">录音控制栏</span>
            <button id="start-record" class="btn btn-default" style="margin-left: 20px">开始</button>
            <button id="stop-record" class="btn btn-default" style="margin-left: 20px">停止</button>
            <div id="result"></div>
        </div>
        <canvas id="myCanvas" width="600" height="500"
                style="border: 3px #ddd solid ;position:absolute;left:150px;top:40px; z-index:0"></canvas>
        <canvas id="myCanvas_tmp" width="600" height="500"
                style="border: 3px #ddd solid ;position:absolute; left:150px;top:40px;z-index:1"></canvas>
        <div style="background:white;position:absolute; left:150px;top:40px;z-index:2" id="container"></div>
        <div style="margin-top:50px" >
            <div class="choose_block" onclick=changeto("pencil");>铅笔</div>
        <div class="choose_block" onclick=changeto("line");>线条</div>
        <div class="choose_block" onclick=changeto("brush");>笔刷</div>
        <div class="choose_block" onclick=clearAll();>清除</div>

        <div class="choose_block" onclick=rewrite();>重绘</div>
        <div class="choose_block" onclick=changeto("text");>文字</div>
        <div class="choose_block" onclick=changeto("rectangle");>矩形</div>
        <div class="choose_block" onclick=beginRecord();>录音</div>
        </div>
    </div>

    <div class="m-chat panel panel-default">
        <div class="chat-head panel-heading">
            控制台:&nbsp;
        </div>
        <div class="panel-body">
            <div class="chat-box " id="incomingChatMessages">
            </div>
            <div class="chat-send">
                <div class="chat-send-nav">
                </div>
                <div class="input-group">
                    <textarea class="send-box form-control" id="outgoingChatMessage" rows="3"></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-default btnHeight" id="btn-send" type="button">发送</button>
                    </span>
                </div>
            </div>
        </div>


        <!--<div class="chat-send">-->
        <!--&lt;!&ndash;<textarea class="send-box" id="outgoingChatMessage"></textarea>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-default navbar-btn" id="btn-send" value="发送">发送</button>&ndash;&gt;-->
        <!--</div>-->

    </div>
</div>


<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>


<!--socket控制-->
<script>
    var afterUrl = '/some';
    var socket = io.connect('http://192.168.1.112:3000');
    var group = "<%=roomid%>";
    var user = "<%- user.name %>";
    console.log(user);
    console.log(group);
    socket.emit('joinRoom', group);


    socket.on('connect', function () {
        $('.chat-head').append($('<p>已连接！</p>'));

        socket.on('message', function (message) {
            $('#incomingChatMessages').append($('<p></p>').text(message));
        });
        socket.on('disconnect', function () {
            $('.chat-head').append('<p>失去连接</p>');
        });
    });


    $('#outgoingChatMessage').keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
            var msg = user + " : " + $('#outgoingChatMessage').val();
            socket.send(msg);
            $('#incomingChatMessages').append($('<p></p>').text(msg));
            $('#outgoingChatMessage').val('');
        }
    });
    $('#btn-send').click(function (event) {
        var msg = user + " : " + $('#outgoingChatMessage').val();
        var data = {
            roomId: group,
            msg: msg
        };
        socket.send(data);
        $('#incomingChatMessages').append($('<p></p>').text(msg));
        $('#outgoingChatMessage').val('');

    });

    //    $('body').click(function(event){
    //        socket.send(event.clientX);
    //    });

</script>
<script src="/js/canvas.js"></script>
<script>
    //接受重绘socket指令
    socket.on('pencilMd', function (msg) {
        isDrawing = true;
        ctx.beginPath();
        ctx_tmp.beginPath();
//        $('#incomingChatMessages').append($('<li></li>').text(msg));


        ctx_tmp.lineCap = ctx.lineCap = msg.lineCap;
        ctx_tmp.lineJoin = ctx.lineJoin = msg.lineJoin;
        ctx_tmp.lineWidth = ctx.lineWidth = msg.lineWidth;
        ctx_tmp.strokeStyle = ctx.strokeStyle = msg.strokeStyle;
        console.log(msg)
    });

    socket.on('pencilMm', function (msg) {
        clearContext(ctx_tmp);
        PositionArr.push(msg);
        tempArr.push(msg);
        ctx_tmp.lineTo(msg.x, msg.y);
        ctx_tmp.stroke();
    });

    socket.on('pencilMu', function (msg) {
        isDrawing = false;
        PositionArr.push("next");
        clearContext(ctx_tmp);
        ctx.beginPath();
        for (var i in tempArr) {
            ctx.lineTo(tempArr[i].x, tempArr[i].y);

        }
        console.log('get socket pencilMu')
        ctx.stroke();
        tempArr.length = 0;

    });
</script>



<!--<div>this is room!!</div>-->

<script src="/js/RecordRTC-together.js"></script>
<script src="/js/recordBtn.js"></script>
<!--<%=roomid%>-->
</body>


</html>