<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .box{
           margin:0 auto;
            width:40%;

            background-color:#00b3ee;
            position:relative;

        }
        .light{
            position:absolute;
            /*top:100%;*/
            margin:0 auto;
            width:40%;
            height:30px;
            background-color: #000066;
            margin-top:130%;
            margin-left:30%;
        }
    </style>
</head>
<body >
<div style="width:100%;color:#00b3ee">
    <div class="box">
        <img style="width:100%;position:absolute;" src="steins_gate_0-3195398.jpg">
        <div class="light"></div>
    </div>

<div style="width:100px;">
    </div>
</div>
</body>
</html>